language: php

php:
- 8.0
- nightly

notifications:
  email:
  - team@appwrite.io

before_script: composer install --ignore-platform-reqs

script:
- vendor/bin/phpunit --configuration phpunit.xml < tests/input.txt 
- vendor/bin/psalm --show-info=true
